* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: Monaco; }
form { position: fixed; bottom: 0; width: 100%; }
form input { padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; padding: 10px; }
#messages { margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eef; }
