* { margin: 0; padding: 0; box-sizing: border-box; }

body { font: Monaco; }

input {
  padding: 0.5em;
  font-size: 1em;
}

button {
  padding: 0.5em;
  font-size: 1em;
  border: 0px;
  border-left: 2px solid #888;
  background-color: white;
}

#input-form {
  bottom: 0;
  position: sticky;
}

#input-form input {
  width: 92%;
}

#input-form button {
  width: 6%;
  background-color: #eee;
}

#message-board {
  font-size: 1em;
  border: 0px;
  border-left: 1px solid;
  width: 100%;
  min-height: 500px;
  height: 100%;
  outline: none;
  resize: none;
  overflow: auto;
}

#message-board {
  margin-left: 0%;
  transition: margin-left .5s ease .2s;
}

#channel-board {
  width: 0%;
  transition: width .5s ease .2s;
}

#usericon {
  font-size: 1em;
  text-align: center;
}

#channel-board {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  border: 0px;
}

.login #channel-board {
  width: 18%;
  transition: width .5s ease .2s;
}

.login #message-board {
  margin-left: 18%;
  transition: margin-left .5s ease .2s;
  width: 71%;
}

.login #input-form {
  margin-left: 18%;
  transition: margin-left .5s ease .2s;
}
